// ----------------------------------------------------------------------------
// Base Variables
// ----------------------------------------------------------------------------
//
// Stores all global variables for reference into individual components.
//
// ----------------------------------------------------------------------------

// -------------------------------------
//  Colours
// -------------------------------------
// If you are having trouble coming up with names, check out
// http://www.color-blindness.com/color-name-hue/
// -------------------------------------

// Universal Colors
$black: #000;
$grey: #999;
$white: #fff;

// Theme Colors
$primary-color: $black;
$secondary-color: $white;

$text-color: $black;
$text-color-contrast: $white;
$text-color-disabled: $grey;


// -------------------------------------
//  Media Query Breakpoints
// -------------------------------------
$container--tablet: 680px !default;
$container--laptop: 1024px !default;
$container--desktop: 1280px !default;

$site-width: 1440px !default;



// -------------------------------------
// Spacing
// -------------------------------------
$site-gutter: 20px;
$section-gutter: ($site-gutter * 2) $site-gutter; // for padding value
$paragraph-gutter: 0 0 20px !default; // for margin value
