// ----------------------------------------------------------------------------
// Base Variables
// ----------------------------------------------------------------------------
//
// Stores all global variables for reference into individual components.
//
// ----------------------------------------------------------------------------

// -------------------------------------
//  Colours
// -------------------------------------
// If you are having trouble coming up with names, check out
// http://www.color-blindness.com/color-name-hue/
// -------------------------------------

// Universal Colors
$black: #000;
$grey: #999;
$light-grey: #eee;
$white: #fff;

// Theme Colors
$ice-blue: #e0edef;
$powder-blue: #a8dadc;
$celadon-blue: #457b9d;
$prussian-blue: #1d3557;
$canada-red: #e63946;

$primary-color: $celadon-blue;
$secondary-color: $canada-red;
$contrast-color: $white;

$text-color: $prussian-blue;
$text-color--contrast: $white;
$text-color--disabled: $grey;

$background-color: $white;
$background-color--site: $ice-blue;
$background-color--contrast: $prussian-blue;
$background-color--disabled: $light-grey;

$border-color: $celadon-blue;
$border-color--light: $light-grey;


// Button Colour Palettes
$button-color-palette: (
    primary: (
        background: $secondary-color,
        color: $white,
        contrast: $secondary-color
    ),
    secondary: (
        background: $primary-color,
        color: $white,
        contrast: $primary-color
    ),
    white: (
        background: $white,
        color: $text-color,
        contrast: $text-color
    )
);

$button-color--disabled: (
    background: $background-color--disabled,
    color: $text-color--disabled
);


// -------------------------------------
//  Default Transitions
//  property name | duration | timing function | delay
// -------------------------------------
$anim: all .2s ease !default;



// -------------------------------------
//  Media Query Breakpoints
// -------------------------------------
$container--tablet: 680px !default;
$container--laptop: 1024px !default;
$container--desktop: 1280px !default;

$site-width: 1440px !default;



// -------------------------------------
// Spacing
// -------------------------------------
$site-gutter: 40px;
$section-gutter: ($site-gutter * 2) $site-gutter; // for padding value
$paragraph-gutter: 0 0 20px !default; // for margin value
